<%- include("partials/head") %> 

<header class="index-header">
    <nav class="">
        <h1>Olive Market</h1>
        <a href="/register" class="">Register</a>
    </nav>
</header>

<%- include("partials/messagess") %> 

<section class="index-section">
    <form action="/admin/login" method="post" class="index-login">
        <label class="">
            <h3 class="">Email</h3>
            <input type="email" name="email">
        </label>
        <label class="">
            <h3 class="">Password</h3>
            <input type="password" name="password">
        </label>
        <button type="submit" class="">Log in</button>
    </form>
</section>

<%- include("partials/footer") %> 