<%- include("partials/header") %> 

<a href="/register">Register</a>

<%- include("partials/messagess") %> 

<form action="/admin/login" method="post">
    <label for="">
        <h3>Email</h3>
        <input type="email" name="email">
    </label>
    <label for="">
        <h3>Password</h3>
        <input type="password" name="password">
    </label>
</form>

<%- include("partials/footer") %> 