<%- include("partials/header") %> 

<%- include("partials/messagess") %> 

<section>
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, nesciunt? Laudantium ipsa quia ea reiciendis unde saepe sapiente sint laborum tempora facere qui odio cumque, magni ad repellat dignissimos veniam.</p>
    <h3 class="btn btn-success">Stock</h3>
</section>

<%- include("partials/footer") %> 