<%- include("partials/head") %>

<header class="register-header">
    <nav class="">
        <h1>Olive Market</h1>
        <a href="/" class="">Login</a>
    </nav>
</header>


<%- include("partials/messagess") %>

<section class="register-section">
    <form action="/admin/add" method="post" class="">
        <label class="">
            <h3>Name</h3>
            <input type="text" name="name">
        </label>
        <label class="">
            <h3>Email</h3>
            <input type="email" name="email">
        </label>
        <label class="">
            <h3>Password</h3>
            <input type="password" name="password">
        </label>
        <label class="">
            <h3>Re-write password</h3>
            <input type="password" name="password2">
        </label>
        <button type="submit" class="">Register</button>
    </form>
</section>

<%- include("partials/footer") %> 