<header class="header">
    <nav>
        <a href="http://">
            <h1>Olive Market</h1>
        </a>
        <div>
            <a href="http://">
                Log Out
            </a>
            <a href="http://">
                Config
            </a>
        </div>
    </nav>
</header>