<nav class="d-flex justify-content-center ps-3 pe-3 bg-success">
    <a href="/main" class="h1 p-3 w-50 text-start">Olive Market</a>
    <div class="w-50 text-end">
        <a href="#" class="h3 mt-4">Config</a>
        <a href="#" class="h3 mt-4">Log out</a>
    </div>
</nav>